<div #sidebar appSidebar>
</div>
<div class="c-wrapper">
    <header class="c-header c-header-light c-header-fixed c-header-shadow">
        <button matRipple class="c-header-toggler" id="seder" type="button" (click)="sidebar.toggle()">
            <span class="c-header-toggler-icon"></span>
        </button>
        <div class="c-header-brand">
            <strong>{{title|uppercase}}</strong>
        </div>
    </header>

    <div class="c-body">

        <div class="content">
            <div class="container-fluid">

                <div class="container mx-auto">
                    <div wire:id="Ypbim7qNUIwABqjZVp1D">
                        <!--  create modal starts -->
                        <div wire:ignore.self="" class="modal fade bs-example-modal-lg" id="createVillageModal"
                            tabindex="-1" role="dialog" aria-labelledby="createVillageModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title mt-0" id="createVillageModal">New Village</h5>
                                        <button wire:click.prevent="cancel()" type="button" class="close"
                                            data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card card-warning card-outline">
                                            <div class="card card-header">
                                                <div class="row align-items-center">
                                                    <div class="col-sm-12">
                                                        <i>add a new village</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <form action="">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip01">Village name</label>
                                                                <input type="text" class="form-control" name="name"
                                                                    wire:model="name" id="validationTooltip01"
                                                                    placeholder="Enter village name" required="">
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip02">Region</label>
                                                                <select wire:model="selected_region"
                                                                    name="selected_region" id="selected_region"
                                                                    class="form-control">
                                                                    <option value="" selected="">Select region</option>
                                                                    <option value="16">Arusha Region</option>
                                                                    <option value="23">Manyara Region</option>
                                                                    <option value="28">Kagera Region</option>
                                                                    <option value="36">Dar es Salaam Region</option>
                                                                    <option value="42">Pwani Region</option>
                                                                    <option value="50">Morogoro Region</option>
                                                                    <option value="57">Dodoma Region</option>
                                                                    <option value="65">Singida Region</option>
                                                                    <option value="70">Iringa Region</option>
                                                                    <option value="74">Njombe Region</option>
                                                                    <option value="79">Mbeya Region</option>
                                                                    <option value="85">Songwe Region</option>
                                                                    <option value="90">Kilimanjaro Region</option>
                                                                    <option value="97">Mtwara Region</option>
                                                                    <option value="103">Lindi Region</option>
                                                                    <option value="109">Mwanza Region</option>
                                                                    <option value="117">Mara Region</option>
                                                                    <option value="124">Geita Region</option>
                                                                    <option value="130">Shinyanga Region</option>
                                                                    <option value="134">Simiyu Region</option>
                                                                    <option value="140">Ruvuma Region</option>
                                                                    <option value="146">Rukwa Region</option>
                                                                    <option value="150">Katavi Region</option>
                                                                    <option value="154">Tabora Region</option>
                                                                    <option value="162">Kigoma Region</option>
                                                                    <option value="169">Tanga Region</option>
                                                                </select>
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                    </div>
                                                    <div class="row">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button wire:click.prevent="cancel()" type="submit"
                                            class="btn btn-warning text-black-50 float-right" data-dismiss="modal">
                                            <i class="mdi mdi-close"></i> Close
                                        </button>
                                        <button wire:click.prevent="store()" type="submit" class="btn btn-primary">
                                            <i class="mdi mdi-content-save"></i> Save village
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  create modal ends -->
                        <!--  update modal starts -->
                        <div wire:ignore.self="" class="modal fade bs-example-modal-lg" id="updateVillageModal"
                            tabindex="-1" role="dialog" aria-labelledby="updateVillageModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title mt-0" id="updateVillageModal">Edit Village</h5>
                                        <button wire:click.prevent="cancel()" type="button" class="close"
                                            data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card card-warning card-outline">
                                            <div class="card card-header">
                                                <div class="row align-items-center">
                                                    <div class="col-sm-12">
                                                        <i>edit the specified village</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <form action="">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip01">Village name</label>
                                                                <input type="text" class="form-control" name="name"
                                                                    wire:model="name" id="validationTooltip01"
                                                                    placeholder="Enter village name" required="">
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip02">Region</label>
                                                                <select wire:model="selected_region"
                                                                    name="selected_region" id="selected_region"
                                                                    class="form-control">
                                                                    <option value="" selected="">Select region</option>
                                                                    <option value="16">Arusha Region</option>
                                                                    <option value="23">Manyara Region</option>
                                                                    <option value="28">Kagera Region</option>
                                                                    <option value="36">Dar es Salaam Region</option>
                                                                    <option value="42">Pwani Region</option>
                                                                    <option value="50">Morogoro Region</option>
                                                                    <option value="57">Dodoma Region</option>
                                                                    <option value="65">Singida Region</option>
                                                                    <option value="70">Iringa Region</option>
                                                                    <option value="74">Njombe Region</option>
                                                                    <option value="79">Mbeya Region</option>
                                                                    <option value="85">Songwe Region</option>
                                                                    <option value="90">Kilimanjaro Region</option>
                                                                    <option value="97">Mtwara Region</option>
                                                                    <option value="103">Lindi Region</option>
                                                                    <option value="109">Mwanza Region</option>
                                                                    <option value="117">Mara Region</option>
                                                                    <option value="124">Geita Region</option>
                                                                    <option value="130">Shinyanga Region</option>
                                                                    <option value="134">Simiyu Region</option>
                                                                    <option value="140">Ruvuma Region</option>
                                                                    <option value="146">Rukwa Region</option>
                                                                    <option value="150">Katavi Region</option>
                                                                    <option value="154">Tabora Region</option>
                                                                    <option value="162">Kigoma Region</option>
                                                                    <option value="169">Tanga Region</option>
                                                                </select>
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                    </div>
                                                    <div class="row">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button wire:click.prevent="cancel()" type="submit"
                                            class="btn btn-warning text-black-50 float-right" data-dismiss="modal">
                                            <i class="mdi mdi-close"></i> Close
                                        </button>
                                        <button wire:click.prevent="update()" type="submit" class="btn btn-primary">
                                            <i class="mdi mdi-content-save"></i> Save changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  update modal ends -->
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="page-title">Villages</h4>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);"><i
                                                    class="mdi mdi-home-outline"></i></a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Locations</a></li>
                                        <li class="breadcrumb-item active">Villages</li>
                                    </ol>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12">
                                <div class="card card-secondary card-outline">
                                    <div class="card card-header">
                                        <div class="row align-items-center">
                                            <div class="col-sm-6">
                                                <h5 classname="card-title">List of villages</h5>
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="submit" class="btn btn-secondary btn-sm 
                    waves-effect waves-light float-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                                    <i class="mdi mdi-plus"></i> New village
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row align-items-center mb-4">
                                            <div class="col-sm-2">
                                                <select wire:model="perPage" class="form-control">
                                                    <option>10</option>
                                                    <option>25</option>
                                                    <option>50</option>
                                                    <option>100</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <select wire:model="orderAsc" class="form-control">
                                                    <option value="1">Ascending</option>
                                                    <option value="0">Descending</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <input wire:model.debounce.300ms="search" type="text"
                                                    class="form-control" id="validationCustom01"
                                                    placeholder="Search by village name...">
                                            </div>
                                        </div>
                                        <!-- end row -->

                                        <table id="datatable-buttons" class="table table-striped dt-responsive nowrap"
                                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Village</th>
                                                    <th>Ward</th>
                                                    <th>Municipal</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td class="col-sm-1">1</td>
                                                    <td class="col-sm-3">Kivukoni</td>
                                                    <td class="col-sm-2">Kivukoni</td>
                                                    <td class="col-sm-2">Ilala CBD</td>
                                                    <td class="col-sm-2">
                                                        <a title="Edit" data-toggle="modal"
                                                            data-target="#updateVillageModal"
                                                            wire:click.prevent="edit(1)" href="#">
                                                            <i class="mdi mdi-pencil text-primary fa fa-pencil"></i>
                                                        </a>
                                                        <a title="Delete"
                                                            href="https://cms.judiciary.go.tz/locations/villages/1/delete">
                                                            <i class="text-danger fa fa-close"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-sm-1">2</td>
                                                    <td class="col-sm-3">Sea View</td>
                                                    <td class="col-sm-2">Kivukoni</td>
                                                    <td class="col-sm-2">Ilala CBD</td>
                                                    <td class="col-sm-2">
                                                        <a title="Edit" data-toggle="modal"
                                                            data-target="#updateVillageModal"
                                                            wire:click.prevent="edit(2)" href="#">
                                                            <i class="mdi mdi-pencil text-primary fa fa-pencil"></i>
                                                        </a>
                                                        <a title="Delete"
                                                            href="https://cms.judiciary.go.tz/locations/villages/2/delete">
                                                            <i class="text-danger fa fa-close"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-sm-1">3</td>
                                                    <td class="col-sm-3">Kitonga</td>
                                                    <td class="col-sm-2">Upanga Mashariki</td>
                                                    <td class="col-sm-2">Ilala CBD</td>
                                                    <td class="col-sm-2">
                                                        <a title="Edit" data-toggle="modal"
                                                            data-target="#updateVillageModal"
                                                            wire:click.prevent="edit(3)" href="#">
                                                            <i class="mdi mdi-pencil text-primary fa fa-pencil"></i>
                                                        </a>
                                                        <a title="Delete"
                                                            href="https://cms.judiciary.go.tz/locations/villages/3/delete">
                                                            <i class="text-danger fa fa-close"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-sm-1">4</td>
                                                    <td class="col-sm-3">Kibasila</td>
                                                    <td class="col-sm-2">Upanga Mashariki</td>
                                                    <td class="col-sm-2">Ilala CBD</td>
                                                    <td class="col-sm-2">
                                                        <a title="Edit" data-toggle="modal"
                                                            data-target="#updateVillageModal"
                                                            wire:click.prevent="edit(4)" href="#">
                                                            <i class="mdi mdi-pencil text-primary fa fa-pencil"></i>
                                                        </a>
                                                        <a title="Delete"
                                                            href="https://cms.judiciary.go.tz/locations/villages/4/delete">
                                                            <i class="text-danger fa fa-close"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-sm-1">5</td>
                                                    <td class="col-sm-3">Fire</td>
                                                    <td class="col-sm-2">Upanga Magharibi</td>
                                                    <td class="col-sm-2">Ilala CBD</td>
                                                    <td class="col-sm-2">
                                                        <a title="Edit" data-toggle="modal"
                                                            data-target="#updateVillageModal"
                                                            wire:click.prevent="edit(5)" href="#">
                                                            <i class="mdi mdi-pencil text-primary fa fa-pencil"></i>
                                                        </a>
                                                        <a title="Delete"
                                                            href="https://cms.judiciary.go.tz/locations/villages/5/delete">
                                                            <i class="text-danger fa fa-close"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-sm-1">6</td>
                                                    <td class="col-sm-3">Charambe</td>
                                                    <td class="col-sm-2">Upanga Magharibi</td>
                                                    <td class="col-sm-2">Ilala CBD</td>
                                                    <td class="col-sm-2">
                                                        <a title="Edit" data-toggle="modal"
                                                            data-target="#updateVillageModal"
                                                            wire:click.prevent="edit(6)" href="#">
                                                            <i class="mdi mdi-pencil text-primary fa fa-pencil"></i>
                                                        </a>
                                                        <a title="Delete"
                                                            href="https://cms.judiciary.go.tz/locations/villages/6/delete">
                                                            <i class="text-danger fa fa-close"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-sm-1">7</td>
                                                    <td class="col-sm-3">Mfaume</td>
                                                    <td class="col-sm-2">Upanga Magharibi</td>
                                                    <td class="col-sm-2">Ilala CBD</td>
                                                    <td class="col-sm-2">
                                                        <a title="Edit" data-toggle="modal"
                                                            data-target="#updateVillageModal"
                                                            wire:click.prevent="edit(7)" href="#">
                                                            <i class="mdi mdi-pencil text-primary fa fa-pencil"></i>
                                                        </a>
                                                        <a title="Delete"
                                                            href="https://cms.judiciary.go.tz/locations/villages/7/delete">
                                                            <i class="text-danger fa fa-close"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-sm-1">8</td>
                                                    <td class="col-sm-3">Kisutu</td>
                                                    <td class="col-sm-2">Kisutu</td>
                                                    <td class="col-sm-2">Ilala CBD</td>
                                                    <td class="col-sm-2">
                                                        <a title="Edit" data-toggle="modal"
                                                            data-target="#updateVillageModal"
                                                            wire:click.prevent="edit(8)" href="#">
                                                            <i class="mdi mdi-pencil text-primary fa fa-pencil"></i>
                                                        </a>
                                                        <a title="Delete"
                                                            href="https://cms.judiciary.go.tz/locations/villages/8/delete">
                                                            <i class="text-danger fa fa-close"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-sm-1">9</td>
                                                    <td class="col-sm-3">Mtendeni</td>
                                                    <td class="col-sm-2">Kisutu</td>
                                                    <td class="col-sm-2">Ilala CBD</td>
                                                    <td class="col-sm-2">
                                                        <a title="Edit" data-toggle="modal"
                                                            data-target="#updateVillageModal"
                                                            wire:click.prevent="edit(9)" href="#">
                                                            <i class="mdi mdi-pencil text-primary fa fa-pencil"></i>
                                                        </a>
                                                        <a title="Delete"
                                                            href="https://cms.judiciary.go.tz/locations/villages/9/delete">
                                                            <i class="text-danger fa fa-close"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-sm-1">10</td>
                                                    <td class="col-sm-3">Kitumbini</td>
                                                    <td class="col-sm-2">Mchafukoge</td>
                                                    <td class="col-sm-2">Ilala CBD</td>
                                                    <td class="col-sm-2">
                                                        <a title="Edit" data-toggle="modal"
                                                            data-target="#updateVillageModal"
                                                            wire:click.prevent="edit(10)" href="#">
                                                            <i class="mdi mdi-pencil text-primary fa fa-pencil"></i>
                                                        </a>
                                                        <a title="Delete"
                                                            href="https://cms.judiciary.go.tz/locations/villages/10/delete">
                                                            <i class="text-danger fa fa-close"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div>
                                            <nav role="navigation" aria-label="Pagination Navigation"
                                                class="flex justify-between">
                                                <span>

                                                    <span
                                                        class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 cursor-default leading-5 rounded-md select-none">
                                                        « Previous
                                                    </span>
                                                </span>

                                                <span>

                                                    <button wire:click="nextPage('page')" wire:loading.attr="disabled"
                                                        dusk="nextPage"
                                                        class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                                                        Next »
                                                    </button>
                                                </span>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>