<div #sidebar appSidebar>
</div>
<div class="c-wrapper">
  <header class="c-header c-header-light c-header-fixed c-header-shadow">    
    <button matRipple class="c-header-toggler" id="seder" type="button" (click)="sidebar.toggle()">
      <span class="c-header-toggler-icon"></span>
    </button>
    <div class="c-header-brand">
      <strong>{{title|uppercase}}</strong>
    </div>
  </header>

  <div class="c-body">
    <div class="content">
        <div class="container-fluid">
            <div>
                <div wire:ignore.self="" class="modal fade bs-example-modal-lg" id="createPermissionModal" tabindex="-1"
                    role="dialog" aria-labelledby="createPermissionModal" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createPermissionModal">New permission</h5>
                                <button wire:click.prevent="cancel()" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card card-warning card-outline">
                                            <div class="card card-header">
                                                <div class="row align-items-center">
                                                    <div class="col-sm-6">
                                                        <i>add a new permission</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip01">Permission</label>
                                                                <input type="text" class="form-control" name="name"
                                                                    wire:model="name" id="validationTooltip01"
                                                                    placeholder="Enter permission name" required="">
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip02">Action</label>
                                                                <select wire:model="crud_id" name="crud_id" id="crud_id"
                                                                    class="form-control" required="">
                                                                    <option value="" selected="">Select action...</option>
                                                                    <option value="1">Create</option>
                                                                    <option value="2">Read</option>
                                                                    <option value="3">Update</option>
                                                                    <option value="4">Delete</option>
                                                                </select>
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip03">Module</label>
                                                                <select wire:model="selected_module" name="selected_module"
                                                                    id="selected_module" class="form-control" required="">
                                                                    <option value="" selected="">Select module...</option>
                                                                    <option value="1">Dashboards</option>
                                                                    <option value="2">Case Registries</option>
                                                                    <option value="3">Case Admissions</option>
                                                                    <option value="4">eCase Filing</option>
                                                                </select>
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip04">Submodule</label>
                                                                <select wire:model="selected_submodule"
                                                                    name="selected_submodule" id="selected_submodule"
                                                                    class="form-control">
                                                                    <option value="" selected="">Select submodule</option>
                                                                </select>
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div> 
                                </div> 
                            </div>
                            <div class="modal-footer">
                                <button wire:click.prevent="cancel()" type="submit"
                                    class="btn btn-warning text-black-50 float-right" data-dismiss="modal">
                                    <i class="mdi mdi-close"></i> Close
                                </button>
                                <button wire:click.prevent="store()" type="submit" class="btn btn-primary">
                                    <i class="mdi mdi-content-save"></i> Save permission
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  create modal ends -->
                <!--  create modal starts -->
                <div wire:ignore.self="" class="modal fade bs-example-modal-lg" id="updatePermissionModal" tabindex="-1"
                    role="dialog" aria-labelledby="updatePermissionModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updatePermissionModal">Edit permission</h5>
                                <button wire:click.prevent="cancel()" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card card-warning card-outline">
                                            <div class="card card-header">
                                                <div class="row align-items-center">
                                                    <div class="col-sm-6">
                                                        <i>edit the specified permission</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip01">Permission</label>
                                                                <input type="text" class="form-control" name="name"
                                                                    wire:model="name" id="validationTooltip01"
                                                                    placeholder="Enter permission name" required="">
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip02">Action</label>
                                                                <select wire:model="crud_id" name="crud_id" id="crud_id"
                                                                    class="form-control" required="">
                                                                    <option value="" selected="">Select action...</option>
                                                                    <option value="1">Create</option>
                                                                    <option value="2">Read</option>
                                                                    <option value="3">Update</option>
                                                                    <option value="4">Delete</option>
                                                                </select>
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
    
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip03">Module</label>
                                                                <select wire:model="selected_module" name="selected_module"
                                                                    id="selected_module" class="form-control" required="">
                                                                    <option value="" selected="">Select module...</option>
                                                                    <option value="1">Dashboards</option>
                                                                    <option value="2">Case Registries</option>
                                                                    <option value="3">Case Admissions</option>
                                                                    <option value="4">eCase Filing</option>
                                                                    <option value="5">Case Assigments</option>
                                                                    <option value="6">Case Proceedings</option>
                                                                    <option value="7">Case Advocacy</option>
                                                                    <option value="8">Case Documents</option>
                                                                    <option value="9">Case Decisions</option>
                                      
                                                                </select>
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip04">Submodule</label>
                                                                <select wire:model="selected_submodule"
                                                                    name="selected_submodule" id="selected_submodule"
                                                                    class="form-control">
                                                                    <option value="" selected="">Select submodule</option>
                                                                </select>
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div> <!-- end col -->
                                </div> <!-- end row -->
                            </div>
                            <div class="modal-footer">
                                <button wire:click.prevent="cancel()" type="submit"
                                    class="btn btn-warning text-black-50 float-right" data-dismiss="modal">
                                    <i class="mdi mdi-close"></i> Close
                                </button>
                                <button wire:click.prevent="update()" type="submit" class="btn btn-primary">
                                    <i class="mdi mdi-content-save"></i> Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  create modal ends -->
                <div class="page-title-box">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <h4 class="page-title">User Permissions</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);"><i
                                            class="mdi mdi-home-outline"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">User Access</a></li>
                                <li class="breadcrumb-item active">User Permissions</li>
                            </ol>
                        </div>
                    </div> <!-- end row -->
                </div>
                <!-- end page-title -->
    
    
                <div class="row">
                    <div class="col-12">
                        <div class="card card-secondary card-outline">
                            <div class="card card-header">
                                <div class="row align-items-center">
                                    <div class="col-sm-6">
                                        <h5 classname="card-title">List of permissions</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-secondary btn-sm 
                            waves-effect waves-light float-right" data-toggle="modal" data-target="#createPermissionModal">
                                            <i class="mdi mdi-plus"></i> New permission
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row align-items-center mb-4">
                                    <div class="col-sm-2">
                                        <select wire:model="perPage" class="form-control">
                                            <option>10</option>
                                            <option>25</option>
                                            <option>50</option>
                                            <option>100</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select wire:model="orderAsc" class="form-control">
                                            <option value="1">Ascending</option>
                                            <option value="0">Descending</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <input wire:model.debounce.300ms="search" type="text" class="form-control"
                                            id="validationCustom01" placeholder="Search by permission name...">
                                    </div>
                                </div>
                                <!-- end row -->
    
                                <table id="datatable-buttons"
                                    class="table table-striped dt-responsive nowrap table-vertical"
                                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Component</th>
                                            <th>Permission</th>
                                            <th>Assigned to</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
    
                                    <tbody>
                                        
                                        
                                        
                                        <tr role="role" class="even">
                                            <td class="col-sm-1">1</td>
                                            <td class="col-sm-2">Civil Registry</td>
                                            <td class="col-sm-2">add civil registry</td>
                                            <td>
                                                <span class="badge badge-soft-primary btn-sm">admission-officer</span>
                                                <span class="badge badge-soft-primary btn-sm">judge</span>
                                                <span class="badge badge-soft-primary btn-sm">registrar</span>
                                                <span class="badge badge-soft-primary btn-sm">magistrate</span>
                                            </td>
                                            <td class="col-sm-2">
                                                <a title="Edit" data-toggle="modal" data-target="#updatePermissionModal"
                                                    wire:click.prevent="edit(4)" href="#">
                                                    <i class="mdi mdi-pencil fa fa-pencil text-primary fa-lg"></i>
                                                </a>
                                                <a title="Show" href="">
                                                    <i class="mdi mdi-eye-check fa fa-eye text-info fa-lg"></i>
                                                </a>
                                                <a title="Delete" href="">
                                                    <i class="mdi mdi-close fa fa-close text-danger fa-lg"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr role="role" class="even">
                                            <td class="col-sm-1">2</td>
                                            <td class="col-sm-2">Civil Registry</td>
                                            <td class="col-sm-2">view civil registry</td>
                                            <td>
                                                <span class="badge badge-soft-primary btn-sm">admission-officer</span>
                                                <span class="badge badge-soft-primary btn-sm">judge</span>
                                                <span class="badge badge-soft-primary btn-sm">registrar</span>
                                                <span class="badge badge-soft-primary btn-sm">magistrate</span>
                                            </td>
                                            <td class="col-sm-2">
                                                <a title="Edit" data-toggle="modal" data-target="#updatePermissionModal"
                                                    wire:click.prevent="edit(5)" href="#">
                                                    <i class="mdi mdi-pencil fa fa-pencil text-primary fa-lg"></i>
                                                </a>
                                                <a title="Show" href="">
                                                    <i class="mdi mdi-eye-check fa fa-eye text-info fa-lg"></i>
                                                </a>
                                                <a title="Delete" href="">
                                                    <i class="mdi mdi-close fa fa-close text-danger fa-lg"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr role="role" class="even">
                                            <td class="col-sm-1">3</td>
                                            <td class="col-sm-2">Civil Registry</td>
                                            <td class="col-sm-2">edit civil registry</td>
                                            <td>
                                                <span class="badge badge-soft-primary btn-sm">admission-officer</span>
                                                <span class="badge badge-soft-primary btn-sm">judge</span>
                                                <span class="badge badge-soft-primary btn-sm">registrar</span>
                                                <span class="badge badge-soft-primary btn-sm">magistrate</span>
                                            </td>
                                            <td class="col-sm-2">
                                                <a title="Edit" data-toggle="modal" data-target="#updatePermissionModal"
                                                    wire:click.prevent="edit(6)" href="#">
                                                    <i class="mdi mdi-pencil fa fa-pencil text-primary fa-lg"></i>
                                                </a>
                                                <a title="Show" href="">
                                                    <i class="mdi mdi-eye-check fa fa-eye text-info fa-lg"></i>
                                                </a>
                                                <a title="Delete" href="">
                                                    <i class="mdi mdi-close fa fa-close text-danger fa-lg"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr role="role" class="even">
                                            <td class="col-sm-1">4</td>
                                            <td class="col-sm-2">Civil Registry</td>
                                            <td class="col-sm-2">delete civil registry</td>
                                            <td>
                                            </td>
                                            <td class="col-sm-2">
                                                <a title="Edit" data-toggle="modal" data-target="#updatePermissionModal"
                                                    wire:click.prevent="edit(7)" href="#">
                                                    <i class="mdi mdi-pencil fa fa-pencil text-primary fa-lg"></i>
                                                </a>
                                                <a title="Show" href="">
                                                    <i class="mdi mdi-eye-check fa fa-eye text-info fa-lg"></i>
                                                </a>
                                                <a title="Delete" href="">
                                                    <i class="mdi mdi-close fa fa-close text-danger fa-lg"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <nav role="navigation" aria-label="Pagination Navigation" class="flex justify-between">
                                        <span>
    
                                            <span
                                                class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 cursor-default leading-5 rounded-md select-none">
                                                « Previous
                                            </span>
                                        </span>
    
                                        <span>
    
                                            <button wire:click="nextPage('page')" wire:loading.attr="disabled"
                                                dusk="nextPage"
                                                class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                                                Next »
                                            </button>
                                        </span>
                                    </nav>
                                </div>
    
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div>
    
           
        </div>
    </div>
  </div>
</div>


