<div class="wrapper vh-100">
    <div class="row align-items-center h-100">
        <form class="col-lg-3 col-md-4 col-10 mx-auto myform" (ngSubmit)="forgotPassword()" #forgotForm=ngForm>

            <div class="mx-auto text-center my-4">
                <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/">
                    <img class="mt-20" src="https://judiciary-tz.s3.amazonaws.com/assets/images/Judiciary-Logo.png" alt="" width="60" height="60">
                </a>
                <h2 class="my-3">Forgot your password</h2>
            </div>

            <p *ngIf="heading" class="text-muted">
                Enter your email address and we'll send you an email with instructions to reset your password.</p>


            <div *ngIf="alert" class="alert alert-success text-center" role="alert">
                {{message}}
            </div>

            <div *ngIf="alertErr" class="alert alert-warning text-center" role="alert">
                {{error}}
            </div>


            <div class="form-group">
                <label *ngIf="inputEmail" for="inputEmail">Email address</label>
                <input *ngIf="inputEmail" type="email" name="email" [(ngModel)]="data.email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            </div>

            <button *ngIf="sending" class="btn btn-md btn-primary btn-block mb-4" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Sending email...
            </button>

            <button *ngIf="forgot" class="btn btn-md btn-primary btn-block" type="submit" [disabled]="!forgotForm.valid">Send reset email</button>

            <div class="text-center">
                <p class="mt-15 mb-0">Do you remember your password?
                    <a href="/login" class=""> <i>Login</i></a>.
                </p>
            </div>
        </form>
    </div>
</div>