<div #sidebar appSidebar>
</div>
<div class="c-wrapper">
    <header class="c-header c-header-light c-header-fixed c-header-shadow">
        <button matRipple class="c-header-toggler" id="seder" type="button" (click)="sidebar.toggle()">
            <span class="c-header-toggler-icon"></span>
        </button>
        <div class="c-header-brand">
            <strong>{{title|uppercase}}</strong>
        </div>
    </header>

    <div class="c-body">
        <div class="content">
            <div class="container-fluid">

                <div class="container mx-auto">
                    <div wire:id="b2ntgceRzbDO1dLJqoXu">
                        <!--  create modal starts -->
                        <div wire:ignore.self="" class="modal fade bs-example-modal-lg" id="createCourtLevelModal"
                            tabindex="-1" role="dialog" aria-labelledby="createCourtLevelModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title mt-0" id="createCourtLevelModal">New court level</h5>
                                        <button wire:click.prevent="cancel()" type="button" class="close"
                                            data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card card-warning card-outline">
                                            <div class="card card-header">
                                                <div class="row align-items-center">
                                                    <div class="col-sm-12">
                                                        <i>add a new court level</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip01">Court level</label>
                                                                <input type="text" class="form-control" name="name"
                                                                    wire:model="name" id="validationTooltip01"
                                                                    placeholder="Enter court level name" required="">
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip02">Code</label>
                                                                <input type="text" class="form-control" name="code"
                                                                    wire:model="code" id="validationTooltip02"
                                                                    placeholder="Enter court level code" required="">
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button wire:click.prevent="cancel()" type="submit"
                                            class="btn btn-warning text-black-50 float-right" data-dismiss="modal">
                                            <i class="mdi mdi-close"></i> Close
                                        </button>
                                        <button wire:click.prevent="store()" type="submit" class="btn btn-primary">
                                            <i class="mdi mdi-content-save"></i> Save court level
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  create modal ends -->
                        <!--  update modal starts -->
                        <div wire:ignore.self="" class="modal fade bs-example-modal-lg" id="updateCourtLevelModal"
                            tabindex="-1" role="dialog" aria-labelledby="updateCourtLevelModal" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title mt-0" id="updateCourtLevelModal">Edit court level</h5>
                                        <button wire:clicl.prevent="cancel()" type="button" class="close"
                                            data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card card-warning card-outline">
                                            <div class="card card-header">
                                                <div class="row align-items-center">
                                                    <div class="col-sm-12">
                                                        <i>edit the specified court level</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <form>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip01">Court level</label>
                                                                <input type="text" class="form-control" name="name"
                                                                    wire:model="name" id="validationTooltip01"
                                                                    placeholder="Enter court level name" required="">
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group position-relative">
                                                                <label for="validationTooltip02">Code</label>
                                                                <input type="text" class="form-control" name="code"
                                                                    wire:model="code" id="validationTooltip02"
                                                                    placeholder="Enter court level code" required="">
                                                                <div class="mt-1">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button wire:click.prevent="cancel()" type="submit"
                                            class="btn btn-warning text-black-50 float-right" data-dismiss="modal">
                                            <i class="mdi mdi-close"></i> Close
                                        </button>
                                        <button wire:click.prevent="update()" type="submit" class="btn btn-primary">
                                            <i class="mdi mdi-content-save"></i> Save changes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  update modal ends -->
                        <div class="page-title-box">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h4 class="page-title">Court Levels</h4>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);"><i
                                                    class="mdi mdi-home-outline"></i></a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Court Data</a></li>
                                        <li class="breadcrumb-item active">Court Levels</li>
                                    </ol>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12">
                                <div class="card card-secondary card-outline">
                                    <div class="card card-header">
                                        <div class="row align-items-center">
                                            <div class="col-sm-6">
                                                <h5 classname="card-title">List of court levels</h5>
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="submit" class="btn btn-secondary btn-sm 
                    waves-effect waves-light float-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                                                    <i class="mdi mdi-plus"></i> New court level
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row align-items-center mb-4">
                                            <div class="col-sm-2">
                                                <select wire:model="perPage" class="form-control">
                                                    <option>10</option>
                                                    <option>25</option>
                                                    <option>50</option>
                                                    <option>100</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <select wire:model="orderAsc" class="form-control">
                                                    <option value="1">Ascending</option>
                                                    <option value="0">Descending</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <input wire:model.debounce.300ms="search" type="text"
                                                    class="form-control" id="validationCustom01"
                                                    placeholder="Search by court level name...">
                                            </div>
                                        </div>
                                        <!-- end row -->

                                        <table id="datatable-buttons" class="table table-striped dt-responsive nowrap"
                                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Court level</th>
                                                    <th>Code</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td class="col-sm-1">1</td>
                                                    <td class="col-sm-3">Supreme Court</td>
                                                    <td class="col-sm-2">SC</td>
                                                    <td class="col-sm-2">
                                                        <a title="Edit" data-toggle="modal"
                                                            data-target="#updateCourtLevelModal"
                                                            wire:click.prevent="edit(1)" href="#">
                                                            <i class="mdi mdi-pencil text-primary fa-lg"></i>
                                                        </a>
                                                        <a title="Delete"
                                                            href="https://cms.judiciary.go.tz/court/levels/1/delete">
                                                            <i class="mdi mdi-close text-danger fa-lg"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-sm-1">2</td>
                                                    <td class="col-sm-3">Court of Appeal</td>
                                                    <td class="col-sm-2">COA</td>
                                                    <td class="col-sm-2">
                                                        <a title="Edit" data-toggle="modal"
                                                            data-target="#updateCourtLevelModal"
                                                            wire:click.prevent="edit(2)" href="#">
                                                            <i class="mdi mdi-pencil text-primary fa-lg"></i>
                                                        </a>
                                                        <a title="Delete"
                                                            href="https://cms.judiciary.go.tz/court/levels/2/delete">
                                                            <i class="mdi mdi-close text-danger fa-lg"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="col-sm-1">3</td>
                                                    <td class="col-sm-3">High Court</td>
                                                    <td class="col-sm-2">HC</td>
                                                    <td class="col-sm-2">
                                                        <a title="Edit" data-toggle="modal"
                                                            data-target="#updateCourtLevelModal"
                                                            wire:click.prevent="edit(3)" href="#">
                                                            <i class="mdi mdi-pencil text-primary fa-lg"></i>
                                                        </a>
                                                        <a title="Delete"
                                                            href="https://cms.judiciary.go.tz/court/levels/3/delete">
                                                            <i class="mdi mdi-close text-danger fa-lg"></i>
                                                        </a>
                                                    </td>
                                                </tr>




                                            </tbody>
                                        </table>
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>