<div #sidebar appSidebar>
</div>
<div class="c-wrapper">
    <header class="c-header c-header-light c-header-fixed c-header-shadow">
        <button matRipple class="c-header-toggler" id="seder" type="button" (click)="sidebar.toggle()">
            <span class="c-header-toggler-icon"></span>
        </button>
        <div class="c-header-brand">
            <strong>{{title|uppercase}}</strong>
        </div>
    </header>
<div class="c-body">     
<div class="container-fluid">
    <div>
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Criminal Cases</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a matRipple routerLink="/dashboard">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Case Registries</a></li>
                        <li class="breadcrumb-item active">Criminal Cases</li>
                    </ol>
                </div>
            </div>
        </div>

        <div >
            <div class="justify-content-center" style="width:100%; ">
                <div class="email-leftbar card card-secondary card-outline" style="width:20%;float:left;">
                    <div class="mail-list mt-4">
                        <a class=" active " wire:click.prefetch="toggle_admitted_cases" >
                            <i class="mdi mdi-email-check mr-2"></i>Admitted Cases
                            <span class="ml-1 float-right">(10)</span>
                        </a>

                        <a class="" wire:click.prefetch="toggle_extended_cases" href="javascript:void(0);">
                            <i class="mdi mdi-nature-people mr-2"></i>Extended Jurisdiction
                            <span class="ml-1 float-right">(0)</span>
                        </a>
                    </div>
                </div>

                <div class="email-rightbar mb-3" style="float:right;width:80%">
                    <div class="card card-secondary card-outline">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-sm-12">
                                    <h5 classname="card-title">List of admitted criminal cases</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row align-items-center mb-4">
                                <div class="col-sm-2">
                                    <select wire:model="perPage" class="form-control">
                                        <option>10</option>
                                        <option>25</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <select wire:model="orderAsc" class="form-control">
                                        <option value="1">Ascending</option>
                                        <option value="0">Descending</option>
                                    </select>
                                </div>
                                <div class="col-sm-5">
                                    <input wire:model.debounce.300ms="search" type="text" class="form-control"
                                        id="validationCustom01" placeholder="Search..">
                                </div>
                            </div>

                            <div class="table-responsive project-list">
                                <table id="datatable"
                                    class="table table-striped dt-responsive nowrap table-vertical dataTable no-footer dtr-inline"
                                    style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid"
                                    aria-describedby="datatable_info">
                                    <thead>
                                        <tr role="row">
                                            <th style="width: 50px;">#</th>
                                            <th style="width: 108px;">Reference #</th>
                                            <th style="width: 109px;">Case Type</th>
                                            <th style="width: 100px;" class="text-center">Status</th>
                                            <th style="width: 322px;">Case Parties</th>
                                            <th style="width: 65px;" class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row" class="odd">
                                            <td>1</td>
                                            <td>20131129200031</td>
                                            <td>Criminal Appeal</td>
                                            <td class="text-center">
                                                <p class="mb-0 text-primary">no coram<span class="float-right"></span>
                                                </p>
                                                <div class="progress mt-2" style="height: 5px;">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                        style="width: 5%;" aria-valuenow="100" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mt-0 mb-1">Kamamkela Solomoni Mko @Munisi
                                                    <span class="badge badge-soft-dark font-12 ml-2">vs</span>
                                                </h6>
                                                <p class="m-0 font-14">Republic</p>
                                            </td>
                                            <td class="text-center">
                                                <div class="d-none d-md-block">
                                                    <div class="dropdown">
                                                        <a class="btn btn-sm btn-info fa fa-bars text-white dropdown-toggle  waves-effect waves-light"
                                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            <i class="dripicons-menu"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="https://cms.judiciary.go.tz/criminal/cases/show/344"
                                                                class="dropdown-item"><i class="mdi mdi-eye-check"></i>
                                                                View Case</a>
                                                            <a href="#" class="dropdown-item"><i
                                                                    class="mdi mdi-pencil-off"></i> Edit Case</a>
                                                            <a href="#" class="dropdown-item"><i
                                                                    class="mdi mdi-trash-can"></i> Request Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>





                                        <tr role="row" class="odd">
                                            <td>2</td>
                                            <td>20111003989112</td>
                                            <td>Criminal Revision</td>
                                            <td class="text-center">
                                                <p class="mb-0 text-success">
                                                    decided
                                                    <span class="float-right"></span>
                                                </p>
                                                <div class="progress mt-2" style="height: 5px;">
                                                    <div class="progress-bar bg-success" role="progressbar"
                                                        style="width: 100%;" aria-valuenow="100" aria-valuemin="0"
                                                        aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mt-0 mb-1">Republic
                                                    <span class="badge badge-soft-dark font-12 ml-2">vs</span>
                                                </h6>
                                                <p class="m-0 font-14">Taher Hussein Muccadam</p>
                                            </td>
                                            <td class="text-center">
                                                <div class="d-none d-md-block">
                                                    <div class="dropdown">
                                                        <a class="btn btn-sm btn-info fa fa-bars text-white dropdown-toggle  waves-effect waves-light"
                                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            <i class="dripicons-menu"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="https://cms.judiciary.go.tz/criminal/cases/show/425"
                                                                class="dropdown-item"><i class="mdi mdi-eye-check"></i>
                                                                View Case</a>
                                                            <a href="#" class="dropdown-item"><i
                                                                    class="mdi mdi-pencil-off"></i> Edit Case</a>
                                                            <a href="#" class="dropdown-item"><i
                                                                    class="mdi mdi-trash-can"></i> Request Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td>3</td>
                                            <td>20090130319020</td>
                                            <td>Court Martial Appeal</td>
                                            <td class="text-center">
                                                <p class="mb-0 text-success">
                                                    decided
                                                    <span class="float-right"></span>
                                                </p>
                                                <div class="progress mt-2" style="height: 5px;">
                                                    <div class="progress-bar bg-success" role="progressbar"
                                                        style="width: 100%;" aria-valuenow="100" aria-valuemin="0"
                                                        aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mt-0 mb-1">Mt 28170 Cpl John Gasper Masanja
                                                    <span class="badge badge-soft-dark font-12 ml-2">vs</span>
                                                </h6>
                                                <p class="m-0 font-14">Judge Advocate General</p>
                                            </td>
                                            <td class="text-center">
                                                <div class="d-none d-md-block">
                                                    <div class="dropdown">
                                                        <a class="btn btn-sm btn-info fa fa-bars text-white dropdown-toggle  waves-effect waves-light"
                                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            <i class="dripicons-menu"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="https://cms.judiciary.go.tz/criminal/cases/show/426"
                                                                class="dropdown-item"><i class="mdi mdi-eye-check"></i>
                                                                View Case</a>
                                                            <a href="#" class="dropdown-item"><i
                                                                    class="mdi mdi-pencil-off"></i> Edit Case</a>
                                                            <a href="#" class="dropdown-item"><i
                                                                    class="mdi mdi-trash-can"></i> Request Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr role="row" class="odd">
                                            <td>4</td>
                                            <td>20130205581752</td>
                                            <td>Criminal Appeal</td>
                                            <td class="text-center">
                                                <p class="mb-0 text-primary">no coram<span class="float-right"></span>
                                                </p>
                                                <div class="progress mt-2" style="height: 5px;">
                                                    <div class="progress-bar bg-primary" role="progressbar"
                                                        style="width: 5%;" aria-valuenow="100" aria-valuemin="0"
                                                        aria-valuemax="100"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <h6 class="mt-0 mb-1">Ezra Mkota And Another
                                                    <span class="badge badge-soft-dark font-12 ml-2">vs</span>
                                                </h6>
                                                <p class="m-0 font-14">The Republic</p>
                                            </td>
                                            <td class="text-center">
                                                <div class="d-none d-md-block">
                                                    <div class="dropdown">
                                                        <a class="btn btn-sm btn-info fa fa-bars text-white dropdown-toggle  waves-effect waves-light"
                                                            type="button" data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            <i class="dripicons-menu"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="https://cms.judiciary.go.tz/criminal/cases/show/437"
                                                                class="dropdown-item"><i class="mdi mdi-eye-check"></i>
                                                                View Case</a>
                                                            <a href="#" class="dropdown-item"><i
                                                                    class="mdi mdi-pencil-off"></i> Edit Case</a>
                                                            <a href="#" class="dropdown-item"><i
                                                                    class="mdi mdi-trash-can"></i> Request Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pt-3">
                                <div>
                                    <nav role="navigation" aria-label="Pagination Navigation"
                                        class="flex justify-between">
                                        <span>

                                            <span
                                                class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 cursor-default leading-5 rounded-md select-none">
                                                « Previous
                                            </span>
                                        </span>

                                        <span>

                                            <button wire:click="nextPage('page')" wire:loading.attr="disabled"
                                                dusk="nextPage"
                                                class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                                                Next »
                                            </button>
                                        </span>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
